.root {
    -fx-padding: 8px;
    -fx-font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.root-container {

}

.configuration-view {
    -fx-alignment: center;
    -fx-spacing: 10px;
}

.configuration-grid {
    -fx-alignment: center;
}

.about-view {

}

.about-view-box {
    -fx-alignment: center;
    -fx-spacing: 5;
}

.about-title {
    -fx-font-size: 35;
}

.about-information {
    -fx-font-weight: bold;
}